body {
    background-image: url('map.jpg');
    background-size: cover; /* Ensures the background image covers the entire element */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-attachment: fixed;
    position: static;
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: grid;
    background-color: rgb(53, 52, 52);
    width: 100%;
    top: 0;
    padding-left: 10px;
}

h2 {
    margin-left: 50px;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(246, 207, 13);
}

.heading {
    box-sizing: border-box;
    background-color: rgb(218, 216, 204);
    color: black;
    height: 300px;
    width: auto;
    text-align: center;
    border: 10px solid rgb(88, 85, 85);
    padding: 50px;
}

.container-1 {
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

image-1 {
    max-width: 100%;
    max-height: 100%;
}

.about-us {
    color: white;
    border-radius: 20px;
    height: 150px;
    padding: 20px;
}

.container-2 {
    display: flex;
    align-items: center;
    background-color: rgb(53, 52, 52);
    margin-top: 40px;
    width: fit-content;
    height: 100%;
    padding: 20px;
    overflow: hidden;
 }
 
 .element {
     box-sizing: border-box;
     display: inline-block;
 }

 #about-3 {
    display: flex;
    text-align: left;
    flex: 1;
    width: 50%;
    font-size: 20px;
 }

 .image {
    max-width: auto; /* Limit the width of the image */
    margin-left: 20px; /* Add some space between text and image */
}

.container-3 {
    display: flex;
    align-items: center;
    background-color: rgb(53, 52, 52);
    margin-top: 40px;
    width: fit-content;
    height: 100%;
    padding: 20px;
    overflow: hidden;
 }
 
 .element {
     box-sizing: border-box;
     display: inline-block;
 }

 #about-4 {
    display: flex;
    text-align: left;
    flex: 1;
    width: 50%;
    font-size: 20px;
 }

 .image {
    max-width: auto; /* Limit the width of the image */
    margin-right: 20px; /* Add some space between text and image */
}

.button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#0b0b0b,#504e4f);
    cursor: pointer; 
}